<form [formGroup]="formGroup1"> 
<p>
    <label for="titulo">Titulo</label>
	<input type="text" id="titulo" formControlName="titulo">
</p>
<p>
    <label for="autor">Autor</label>
	<input type="text" id="autor" formControlName="autor">
</p>
<p>
    <label for="editorial">Editorial</label>
	<input type="text" id="editorial" formControlName="editorial">
</p>
<p>
    <label for="fecha">Fecha (Año)</label>
	<input type="text" id="fecha" formControlName="fecha">
</p>
	
	<label></label>
	<button type="submit">Enviar</button>

    <p>
        {{formGroup1.value | json}}
    </p>
    <p>
        Es valido: {{formGroup1.valid}}
    </p>
    
</form>

