<form (ngSubmit)="enviar()" #myform = "ngForm">
    <h2>Datos Personales</h2>
    <p>
        <!--Etiqueta / Campo "Mombre"-->						
        <label for="firstname">Nombre</label>
        <input type="text" id="firstname" name="firstname" #firstnameState="ngModel"
          [(ngModel)]="user.firstName" minlength="3" required>
      </p>

      <div [hidden]="firstnameState.valid || firstnameState.untouched ">
          <div class="error-message" 
            [hidden]="!firstnameState.errors?.required">
            El nombre es obligatorio</div>
          <div class="error-message" 
            [hidden] = "!firstnameState.errors?.minlength">
            El nombre debe tener un mínimo de 2 caracteres
          </div>
        </div>
            
      <p>
        <!--Etiqueta / Campo "Apellidos"-->
        <label for="lastname">Apellidos</label>
        <input type="text" id="lastname" name="lastname" #lastnameState="ngModel"
          [(ngModel)]="user.lastName" required>
      </p>
      <div class="error-message"  
        [hidden]="lastnameState.valid || lastnameState.untouched">
        El apellido es obligatorio
      </div>
  
    
      <p>
        <!--Etiqueta / Campo "Telefono"-->
        <label for="phoneNumber">Teléfono</label>
        <input type="text" id="phoneNumber" name="phoneNumber" #phoneState="ngModel"
          [(ngModel)]="user.phoneNumber" required pattern="^\d{9}$">  
      </p>	
      <div class="error-message"  
      [hidden]="phoneState.valid || phoneState.untouched">
      El telefono es obligatorio y debe tener 9 dígitos 
    </div>					
    
    <!--Radio-Buttos-->
    <h2>Selecciona una Impresora</h2>

    <!--     <input type="radio" name="printer" id="" value="Impresora1"
    [(ngModel)]="impresoraSeleccionada">
    <label for="">Impresora 1</label>

    <input type="radio" name="printer" id="" value="Impresora2" 
    [(ngModel)]="impresoraSeleccionada">
    <label for="">Impresora 2</label> -->


    <div *ngFor="let impresora of aImpresoras">
        <input type="radio" 
            name ="printer" [(ngModel)]="impresoraSeleccionada" [value]="impresora" 
            (change)="mostrarFinal=true">
        <label>{{impresora}}</label>
    </div>

<h2>Seleción de opciones</h2>

    <!--Checkbox-->   
    <p>
        <input id="tono" type="checkbox" [(ngModel)]="isClaro" name="tono"
            [disabled]="!impresoraSeleccionada" > 
        <label for="tono">Tono claro</label>	

        <input id="color" type="checkbox" [(ngModel)]="isColor" name="color"
            [disabled]="!impresoraSeleccionada"
            (change)="avisarPrint()">
        <label for="color">Imprimir en colores</label><br>
    </p>
    
    <!--Select/options "--> 
     <p>
        <label for="select">Departamento </label>
        <select id="select" name="select"
          [(ngModel)]="departamentoSeleccionado" 
          (ngModelChange)="avisarDepartamento()"> 
            <option *ngFor="let departamento of aDepartamentos"
                [ngValue]="departamento">
                {{departamento.nombre}}
            </option>          
        </select>
    </p>
   
      <!--Botones "Enviar" y "Borrar"-->
      <p>
        <label for=""></label>
        <input type="submit" id="enviar" name="enviar" value="Enviar"
        [disabled] ="!myform.valid">
        <label for=""></label>			
        <input type="button" id="borrar" name="borrar" 
        value="Borrar" (click)="borrar()"
        [disabled]="myform.pristine">
      </p>
</form>
